<h1 class="h2 text-success mt-3" >Welcome to the JUNGLE! Registration From</h1>

<%= form_for :user, url: '/users' do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit 'Create Account', class: 'btn btn-primary mt-3' %>
<% end %>
